h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
}

h2 {
  font-family: sans-serif;
  text-align: center;
  color: white;
}

p {
  color: darkred;  
}

body {
    background-color: violet;
}