h1 {
  color: white;
}

h2 {
  font-style: italic;
  color: white;
}

p {
  color: darkred;  
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
  text-align: center;
  background-color: violet;
}